@font-face {
  font-family: "PT_Sans-Narrow-Web-Regular";
  src: url(../shop_fonts/PT_Sans-Narrow-Web-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Jura-Regular";
  src: url(../shop_fonts/Jura-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "LoversQuarrel-Regular";
  src: url(../shop_fonts/LoversQuarrel-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "NeogreyMedium";
  src: url(../shop_fonts/NeogreyMedium.otf) format("truetype");
}
@font-face {
  font-family: "Capsuularegular-Onm3";
  src: url(../shop_fonts/Capsuularegular-Onm3.ttf) format("truetype");
}
@font-face {
  font-family: "Thekingofromance-z8jDX";
  src: url(../shop_fonts/Thekingofromance-z8jDX.otf) format("opentype");
}


.wrap_menu_items {
list-style: none;
max-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
	background: #111111;
}
.menu_item {
flex: inherit;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
}



.top_title {
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-size: 18px;
}
.flex_item {
flex-grow: 1;
flex-shrink: 1;
font-size: 18px;
background: #111111;
}
input.order-description {
border-width: 0px;
    border: 0;
    outline: 0;
    background: none;
    color: red;
    height: 22px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
	text-align: center;
	width: 280px;
}
input.order-amount {
border-width: 0px;
    border: 0;
    outline: 0;
    background: none;
    color: #d5ad6d;
    height: 22px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
	text-align: center;
	width: 100px;
	background: #444444;
}
input.customize_name {
border-width: 0px;
    border: 0;
    outline: 0;
    color: #d5ad6d;
    height: 42px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: #444444;
    padding: 0px;
}
input:-internal-autofill-selected {
	appearance: menulist-button;
    background-color: /*rgb(232, 240, 254)*/ red !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}
.select_book {
	display: inline-block;
border-width: 0px;
    border: 0;
    outline: 0;
    color: #d5ad6d;
    height: 42px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    text-align: center;
    width: 155px;
    background: #444444;
    padding: 0px;
	padding-left: 2px;
}
.select_chapter {
	display: inline-block;
border-width: 0px;
    border: 0;
    outline: 0;
    color: #d5ad6d;
    height: 42px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    text-align: center;
    width: 63px;
    background: #444444;
    padding: 0px;
	padding-left: 2px;
}
.select_verse {
	display: inline-block;
border-width: 0px;
    border: 0;
    outline: 0;
    color: #d5ad6d;
    height: 42px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    text-align: center;
    width: 63px;
    background: #444444;
    padding: 0px;
	padding-left: 2px;
}
input.order-description:focus {
outline:none!important;
box-shadow: 0;
-webkit-appearance: none;
}
#standardPrice {display:none;}
.hidden_input {display: none;}

.orderFlowNoFinger {
display: block;
text-align: center;
line-height: 22px;
background: #222222;
padding: 2px;
}
.orderFlowFinger {
display: block;
text-align: center;
line-height: 44px;
}
.selectionBg1 {
background: rgb(0 30 0);
}
.selectionBg2 {
background: rgb(0 50 0);
}
.selectionBg3 {
background: rgb(0 70 0);
}
.selectionBg4 {
background: rgb(0 90 0);
}
.order-amount {
width: 122px;
    height: 22px;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    background-color: #222222;
    color: #d5ad6d;
    text-align: center;
    margin-left: 3px;
}
    .modal_customize_verse {
      position: fixed;
      display: none;
      height: 442px;
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 0px;
      padding-bottom: 0px;
	  overflow: hidden;
    }
	
.wrap_bible_verse_selection {
display: block;
width: 320px;
text-align: center;
}
.selected_bible_ref_fixed_on_mug {
position: fixed;
display: block;
top: 400px;
left: 46px;
width: 222px;
height: 20px;
line-height: 20px;
font-family: "NeogreyMedium";
font-size: 12px;
font-weight: bold;
color: #000000;
text-align: center;
z-index: 1;
}
	
	
    .modal_customize_name {
      position: fixed;
      display: none;
      height: calc(100% - 100px);
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding: 8px;
	  overflow: auto;
    }
    .modal_customize_flowers {
      position: fixed;
      display: none;
      height: calc(100% - 100px);
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding: 8px;
	  overflow: auto;
    }
    .modal_customize_backgrounds {
      position: fixed;
      display: none;
      height: calc(100% - 100px);
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding: 8px;
	  overflow: auto;
    }
    .modal_review_the_order {
      position: fixed;
      display: none;
      height: calc(100% - 100px);
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding: 8px;
	  overflow: auto;
    }
    .modal_place_the_order {
      position: fixed;
      display: none;
      height: calc(100% - 100px);
      width: 296px;
      top: calc(4px + 44px);
      left: 4px;
      background: #111111;
      z-index: 1;
      padding: 8px;
	  overflow: auto;
    }
#descriptionError, #priceLabelError {
line-height: 22px;
padding: 0px;
margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-shadow: none;
}
#descriptionError {display:none;}
#invoiceidError {display:none;}
.narrow_separator {
display: block;
background: #444444;
height: 1px;
}
.narrow_separator_as_bg {
display: block;
background: #222222;
height: 0px;
}
.selected_verse {
color: #ae9c80;
}
.placeholder_mug_side {
display: inline-block;
width: 296px;
height: 296px;
text-align:center;
}
.selected_bible_verse_fixed_on_mug-table {
position: fixed;
display: table;
top: 180px;
left: 55px;
width: 202px;
height: 220px;
z-index: 1;
}
.selected_bible_verse_fixed_on_mug {
position: fixed;
display: table-cell;
top: 180px;
left: 55px;
width: 202px;
height: 220px;
z-index: 1;
text-align: center;
vertical-align: middle;
font-family: "Capsuularegular-Onm3";
font-weight: bold;
text-shadow: none;
color: #000000;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rendered_customerName_in_modalName-table {
position: fixed;
display: table;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
}
.rendered_customerName_in_modalName {
position: fixed;
display: table-cell;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
	text-align: center;
vertical-align: middle;
font-family: "Thekingofromance-z8jDX";
text-shadow: none;
color: #000000;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rendered_customerName_in_modalFlowers-table {
position: fixed;
display: table;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
}
.rendered_customerName_in_modalFlowers {
position: fixed;
display: table-cell;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
	text-align: center;
vertical-align: middle;
font-family: "Thekingofromance-z8jDX";
text-shadow: none;
color: #000000;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rendered_customerName_in_modalBackgrounds-table {
position: fixed;
display: table;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
}
.rendered_customerName_in_modalBackgrounds {
position: fixed;
display: table-cell;
    top: 194px;
    left: 52px;
    width: 196px;
	height: 80px;
    background: ;
	text-align: center;
vertical-align: middle;
font-family: "Thekingofromance-z8jDX";
text-shadow: none;
color: #000000;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap_continue_bar {
display: flex;
}
.wrap_flower_images_inside_modal_customize_flowers {
position: relative;
display: block;
width: 220px;
height: 220px;
    top: ;
    left: ;
    width: ;
}
img.images_inside_modal_customize_flowers {
display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 134px;
    max-height: 280px;
    display: block;
    margin: 0 auto;
    cursor: auto !important;
    min-width: auto !important;
    height: auto !important;
    min-height: auto !important;
	padding-top: 70px;
}
.wrap_background_images_inside_modal_customize_backgrounds {
position: relative;
display: block;
width: 220px;
height: 220px;
    top: ;
    left: ;
    width: ;
}
img.images_inside_modal_customize_backgrounds {
display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 134px;
    max-height: 280px;
    display: block;
    margin: 0 auto;
    cursor: auto !important;
    min-width: auto !important;
    height: auto !important;
    min-height: auto !important;
	padding-top: 70px;
}
.made_with_love_fixed_on_mug {
position: fixed;
display: block;
top: 418px;
left: 45px;
width: 222px;
height: 20px;
line-height: 20px;
font-family: "NeogreyMedium";
font-size: 12px;
font-weight: bold;
color: #000000;
text-align: center;
z-index: 1;
}
.heart_fixed_on_mug {
color: red;
font-size: 12px;
}

/* ************************ */
/* BEGIN brought in from wrap_image_to_mug_css_only.css */
/* ************************ */
/*
when background image is 792px x 320px we divide it by 24 frames, and the we get the width needed, which is 33px (we add 1px).

320		792
240		594
1044	2508
240		576.55

*/
.mug_render_cylinder_wrap_578x260_Center {
position: fixed;
    text-align: center;
    margin: 0 auto;
    top: 156px;
    left: 150px;
    /* width: 550px; */
    -moz-perspective: 900px;
    -webkit-perspective: 1600;
}
.mug_render_cylinder_wrap_578x260_Center:hover * {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused}
	  
.frame {
width: 24px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform: rotateX(0deg) rotateY(45deg) rotateZ(15deg) translate3d(0px,0px,0px);
    -webkit-transform: rotateX(-2.5deg) rotateY(180deg) rotateZ(0deg) translate3d(0px,0px,0px);
}
	
.strip {-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-animation: spin 100s infinite linear;
	-webkit-animation: spin  infinite linear}

.strip div {
	position: absolute;
	background: #000 url(../578x260_Sample_1.png);  /* background image is 792px 320px, try with green-hills or thailand-sunrise.jpg */
	/*background-size: contain;*/
	border: /*solid rgb(145,87,0)*/;
	border-width: /*thin 0*/;
	height:257px;
	width:34px;
	opacity: 1;
	border-top: solid white;
    border-width: 1px;
	}

.strip .a {background-position: 0 0; /* reaches the 576px width*/
	   -moz-transform: rotateY(0deg) translateZ(111px);
	-webkit-transform: rotateY(0deg) translateZ(111px)}
		
.strip .b {background-position: 552px 0;
	   -moz-transform: rotateY(15deg) translateZ(111px);
	-webkit-transform: rotateY(15deg) translateZ(111px)}
	
.strip .c {background-position: 528px 0;
	   -moz-transform: rotateY(30deg) translateZ(111px);
	-webkit-transform: rotateY(30deg) translateZ(111px)}
	
.strip .d {background-position: 504px 0;
	   -moz-transform: rotateY(45deg) translateZ(111px);
	-webkit-transform: rotateY(45deg) translateZ(111px)}	
	
.strip .e {background-position: 480px 0;
	   -moz-transform: rotateY(60deg) translateZ(111px);
	-webkit-transform: rotateY(60deg) translateZ(111px)}	
	
.strip .f {background-position: 456px 0;
	   -moz-transform: rotateY(75deg) translateZ(111px);
	-webkit-transform: rotateY(75deg) translateZ(111px)}

.strip .g {background-position: 432px 0;
	   -moz-transform: rotateY(90deg) translateZ(111px);
	-webkit-transform: rotateY(90deg) translateZ(111px)}
	
.strip .h {background-position: 408px 0;
	   -moz-transform: rotateY(105deg) translateZ(111px);
	-webkit-transform: rotateY(105deg) translateZ(111px)}	
	
.strip .i {background-position: 384px 0;
	   -moz-transform: rotateY(120deg) translateZ(111px);
	-webkit-transform: rotateY(120deg) translateZ(111px)}	
	
.strip .j {background-position: 360px 0;
	   -moz-transform: rotateY(135deg) translateZ(111px);
	-webkit-transform: rotateY(135deg) translateZ(111px)}
	
.strip .k {background-position: 336px 0;
	   -moz-transform: rotateY(150deg) translateZ(111px);
	-webkit-transform: rotateY(150deg) translateZ(111px)}
		
.strip .l {background-position: 312px 0;
	   -moz-transform: rotateY(165deg) translateZ(111px);
	-webkit-transform: rotateY(165deg) translateZ(111px)}	
		
.strip .m {background-position: 288px 0;
	   -moz-transform: rotateY(180deg) translateZ(111px);
	-webkit-transform: rotateY(180deg) translateZ(111px)}		
		
.strip .n {background-position: 264px 0;
	   -moz-transform: rotateY(195deg) translateZ(111px);
	-webkit-transform: rotateY(195deg) translateZ(111px)}
	
.strip .o {background-position: 240px 0;
	   -moz-transform: rotateY(210deg) translateZ(111px);
	-webkit-transform: rotateY(210deg) translateZ(111px)}
	
.strip .p {background-position: 216px 0;
	   -moz-transform: rotateY(225deg) translateZ(111px);
	-webkit-transform: rotateY(225deg) translateZ(111px)}	
	
.strip .q {background-position: 192px 0;
	   -moz-transform: rotateY(240deg) translateZ(111px);
	-webkit-transform: rotateY(240deg) translateZ(111px)}	
	
.strip .r {background-position: 168px 0;
	   -moz-transform: rotateY(255deg) translateZ(111px);
	-webkit-transform: rotateY(255deg) translateZ(111px)}
	
.strip .s {background-position: 144px 0;
	   -moz-transform: rotateY(270deg) translateZ(111px);
	-webkit-transform: rotateY(270deg) translateZ(111px)}
	
.strip .t {background-position: 120px 0;
	   -moz-transform: rotateY(285deg) translateZ(111px);
	-webkit-transform: rotateY(285deg) translateZ(111px)}	
	
.strip .u {background-position: 96px 0;
	   -moz-transform: rotateY(300deg) translateZ(111px);
	-webkit-transform: rotateY(300deg) translateZ(111px)}	
	
.strip .v {background-position: 72px 0;
	   -moz-transform: rotateY(315deg) translateZ(111px);
	-webkit-transform: rotateY(315deg) translateZ(111px)}
	
.strip .w {background-position: 48px 0;
	   -moz-transform: rotateY(330deg) translateZ(111px);
	-webkit-transform: rotateY(330deg) translateZ(111px)}
	
.strip .x {background-position: 24px 0;
	   -moz-transform: rotateY(345deg) translateZ(111px);
	-webkit-transform: rotateY(345deg) translateZ(111px)}

@-moz-keyframes spin {
	from { -moz-transform: rotateY(0)}
	to   { -moz-transform: rotateY(-360deg)}}
	
@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0)}
	to   { -webkit-transform: rotateY(-360deg)}}
.blankMug {
position:fixed;
top: 177px;
left: 20px;
}

/* ************************ */
/* END brought in from wrap_image_to_mug_css_only.css */
/* ************************ */

.current_verse_hidden {display: ;}
.tell_us_to_swipe_sideways {
dispaly: block;
width: 100%;
height: 42px;
line-height: 42px;
text-align:center;
background: red;
    color: #d5ad6d;
    font-size: 20px;
    font-family: 'PT_Sans-Narrow-Web-Regular';
    font-weight: bold;
    background: #444444;
    padding: 0px;
}
.wrap_swiper_container_flowers {
position: fixed;
display: none;
top: 170px;
left: 8px;
width: 296px;
height: 250px;
background: none;
margin: 0 auto;
padding: 0;
z-index: 2;
}
.wrap_swiper_container_backgrounds {
position: fixed;
display: none;
top: 170px;
left: 8px;
width: 296px;
height: 250px;
background: none;
margin: 0 auto;
padding: 0;
z-index: 2;
}
/* ************* */
/* BEGIN swiper flowers
/* ************* */
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: none;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
/* ************* */
/* END swiper flowers
/* ************* */
/* ************* */
/* BEGIN swiper backgrounds
/* ************* */
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: none;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
/* ************* */
/* END swiper backgrounds
/* ************* */
.no_book_nor_chapter_nor_verse_selection_yet {
display: ;
}
.verse_selection_complete {
display: none;
	background: #111111;
}
.step1_next_step2 {
display: none;
	background: #111111;
}
#hidden_book_desired,#hidden_chapter_desired,#hidden_verse_desired,#hidden_name_desired,#hidden_flower_desired,#hidden_background_desired, #hidden_lastClickedFlowerIndex {display:none;}

.still_need_to_select_chapter_and_verse {display:none;}

.wrap_container_showing_selected_flowers {
position: absolute;
display: block;
width: 220px;
height: 220px;
    top: 138px;
    left: 42px;
}
img.container_showing_selected_flowers {
display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 134px;
    max-height: 280px;
    display: block;
    margin: 0 auto;
    cursor: auto !important;
    min-width: auto !important;
    height: auto !important;
    min-height: auto !important;
	padding-top: 70px;
}
.wrap_container_showing_selected_background {
position: relative;
display: block;
width: 220px;
height: 220px;
    top: ;
    left: ;
    width: ;
}
img.container_showing_selected_background {
display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 134px;
    max-height: 280px;
    display: block;
    margin: 0 auto;
    cursor: auto !important;
    min-width: auto !important;
    height: auto !important;
    min-height: auto !important;
	padding-top: 70px;
}
.popup_ok_this_flower_theme_selected {
display: none;
position: fixed;
top: 258px;
left: 58px;
width: 200px;
height: 100px;
color: #d5ad6d;
background: rgb(0,0,0,0.8);
text-align: center;
line-height: 100px;
z-index: 2;
}